/**{
	border:1px dashed red;
	margin:1px 1px 1px 1px;
}*/
body{
	background-color: #00bfff;
}

/************ NAVBAR ***************************************/

.nav-bg{
	background-color:white;
}
.navbar-brand{
	margin-left: 40px;
}

.nav-link{
	color: #00bfff !important;
}


.navbar-toggler{
	border:1px solid yellow;
}

/* This change the color of the toggle strokes */
.navbar-toggler-icon { 
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 191, 255, 0.7)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; 
}


/************************VIDEO-CONTAINER *******************************************/

.div-container{
	height: 100%;
	margin-top: 8%;	
	margin-bottom: 4.5%;
	background-color: white;
	
}

.video-container{
	padding: 20px;
	background-color: ;
}

.text-container{
	padding: 15px;
	background-color: ;
	line-height: 1.6;
	font-size: 1.8em;
}

.media-header{
	margin-top: 20px;
	background-color: rgba(255, 83, 26, 0.8);
	color: white;
}



/********************** Footer **********************************************/


.footer{
	height: 100%;
	position: relative;
	margin-bottom: 0px;
	background-color: white;	
}

.donate{
	margin-top:;
	background-color: ;
}

.donate img{
	/*width: 100px;
	height: 10px;*/
	margin-left: 50px;
}

.copy-rights{
	margin-top:15px;
	background-color: ;
	color: #bfbfbf;
}

.social{
	margin-top:15px;
	background-color: ;
}
.social-icons{
	float: right;
	margin-right: 40px;
}